
body
{
    height: 1000px;
     display: grid;
    place-items: center;
    margin: 0;
    background-color:#ebeffe;
    
   
}
#cont
{
    height: 600px;
    width: 350px;
    border: 1px solid none;
   border-radius: 20px;
   border: 1px solid none;
   background-color: white;
   
    
}
#im
{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 230px;
}
#or
{
    text-align: center;
    font-size: 30px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: #323344;
}
#para
{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #6A6F85; 
    
}
#or, #para {
  margin: 0;
}
#box
{
    width: 85%;
    height: 90px;
    border: none  solid 1px;
    border-radius: 20px;
   position: relative;
    display: block;
    margin: 0 auto;
    background-color: #EDEEFF;
}
#mu
{
position: absolute;
left: 10px;
top: 20%;
}
#anu
{
 position: absolute;
 left: 25%;
 top: 3px;
 font-weight: 200;
 font-family: 'Times New Roman', Times, serif;
 font-size: 19px;

}
#rup
{
    position: absolute;
    left: 25%;
    top: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #6A6F85; 
}
#ch
{
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 18px;
    color: #382AE1;
   

}
#proce {
    height: 40px;
    border: 1px solid;
    width: 85%;
    border-radius: 10px;
    display: flex;             
    justify-content: center;     
    align-items: center;         
    margin: 0 auto;
    background-color: #382AE1;
    color: white;
    font-size: 20px;
}
#can
{
    height: 40px;
    border: 1px solid;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    color: #757A9A;
    border: none;
    
}

#proce:hover
{
   cursor: pointer;
   box-shadow: 1px 1px 12px blue;
}
#can:hover
{
    cursor: pointer;
   box-shadow: 1px 1px 12px #6A6F85;
}
#ch
{
     cursor: pointer;
   box-shadow: 1px 1px 12px cornsilk;
   text-decoration: none;
}

